Repository liniribeiro/lini-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-hello, run-packages

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1


workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: main
          mapping: |
            hello-world-p/.* run-hello true
            packages/.* run-packages true

      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"run-hello": true, "run-packages": true}'
          filters:
            branches:
              only: main

Creating orb to publish package
  .circleci/config.yml
  .circleci/continue_config.yml
  hello-world-p/orb_version.txt
  packages/orb_version.txt
Due: run-hello, run-packages

Creating orb to publish package
  .circleci/continue_config.yml
  hello-world-p/orb_version.txt
  packages/orb_version.txt
Due: run-hello, run-packages

Creating orb to publish package
  .circleci/continue_config.yml
  packages/orb.yml
Due: run-packages

Creating orb to publish package
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Creating orb to publish package
  .circleci/continue_config.yml
  hello-world-p/orb_version.txt
Due: run-hello

Creating orb to publish package
  .circleci/continue_config.yml
Due: none

Creating orb to publish package
  README.md
Due: none
